<phpunit colors="true" bootstrap="tests/bootstrap.php" failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Arrayable</directory>
            <directory>tests/Auth</directory>
            <directory>tests/Middlewares</directory>
            <directory>tests/PormTests</directory>
            <directory>tests/Realm</directory>
            <directory>tests/Exceptions</directory>
            <directory>tests/Events</directory>
            <directory>tests/Cache</directory>
            <directory>tests/Logging</directory>
            <directory>tests/Http</directory>
            <directory>tests/Runtime</directory>
            <directory>tests/TestSuite</directory>
            <directory>tests/Utils</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Console">
            <directory>tests/Console</directory>
        </testsuite>
        <testsuite name="Documentation">
            <directory>tests/Documentation</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src/Pionia</directory>
        </include>
    </source>
</phpunit>
